<div class="container-fluid p-3">
    <h1 class="display-6">Products</h1>
    <hr>
    <div class="p-1">
        <table class="table">
            <thead>
                <tr>
                    <th>Sno.</th>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Price</th>
                </tr>
            </thead>
             <tbody>
                 <tr *ngFor="let product of products; index as i">
                     <th>{{i+1}}</th>
                     <th><img src="/api/{{product.productImage}}" alt="" style="height: 100px;" class="rounded-circle"></th>
                     <th>{{product.name}}</th>
                     <th>{{product.category.name}}</th>
                     <th>Rs {{product.price}}</th>
                 </tr>
             </tbody>
        </table>
    </div>
</div>